body{
    background-color: #000a0d;
}

.main-content {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%)
}
.logo {
    height: 12rem;
    background-color: transparent;
}
